 html{ 
	font-size:100%; 
 }
 
body{
	display:block;
}


 
body,input,button{
	font-family: "Arial" ,sans-serif;  
}
.container{
	 margin: 10px 50px 10px 50px;
}

/*styling on menu links*/
.nav{
	text-align:center;
}
.nav ul{
	 list-style-type: none;
	 margin:0;
	 padding:0;
	 overflow: hidden;
	 background-color:#333;

 }
 
.nav li{
	 display:inline-block;
}

.nav li a{
	display:block;
	color:white;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;
	font-size: 16px;
}

.nav li a:hover{
	background-color:#111;
}

.nav a.active{
	background-color:#fff;
	cursor:default;
}


a{
	color:blue;
}



/*h1{
	text-align: center;
}*/

img{
	height:auto;
	max-width: 100%;
}

p{
	font-size:16px;
	font-family: "Arial" ,sans-serif;
	
}


#JS_textarea1{
	resize: none;
    overflow: hidden;
	text-align: left;
	width:500px;
    min-height: 150px;
    line-height: 13px;
    font-size: 13px;
	font-family: Arial, sans-serif;
}

table, th, td {
    border: 1px solid black;
	text-align:center;
	width: 20%;
}



 
 