 html{ 
  font-size:100%; 
 } 
 
 .container{
    position: absolute;
	width: 300px;
	height: 250px;
	top: 5%;
    left: 35%;
	padding: 10px 50px 10px 50px;
	border-radius: 50px;
	border: 2px solid #000000;
	max-width:100%;
	}
  
  #question{
	font-family: sans-serif;
	font-size: 25px;
	color: #000000;
	}
 
 body{
   
   padding: 10px 50px 10px 50px;
   background-color: #e6e6fa;
 }
 body,input,button{
   font-family: "Arial" ,sans-serif;
   
  } 
  

  h1{
   font-size: 25px;
   text-align: center;
  }
  

  
  .choiceA{
    float: left;
    margin: 0 auto;
	text-align:center;
    padding: 10px 10px 10px 10px;

  }
  
  .choiceB{
    float: left;
    margin: 0 auto;
	text-align:center;
    padding: 10px 10px 10px 10px;

  }
  .choiceC{
    float: left;
    margin: 0 auto;
	text-align:center;
    padding: 10px 10px 10px 10px;

  }
		
  img{

	height:auto;
	max-width: 100%;
    
  }
 
  /*.choice:hover{ 
	
	border: 1px solid black;
  }*/

 
  .buttons{
	position:relative;
	margin-top:40%;
	height:auto;
	max-width: 100%;
  }
  
  .q5buttons{
	position:relative;
	margin-top:75%;
	width:100%;
	max-width:100%;
  }
  
  #indexNext:hover,#next:hover,#back:hover{ 
	background:#c2c2a3;
	
  }
	
  #indexNext{
	width:3.5em;
	height:1.5em;
	
	font-size:18px;
	font-weight: bold;
	background:#ccccb3;  
  }
  #next,#back,#submit{
	width:3.5em;
	height:1.5em;
	font-size:1em;
	font-weight: bold;
	background:#ccccb3;
	}
	