 body{
   
   padding: 10px 200px 50px 200px;
   background-color: #e6e6fa;
 }
 body,input,button{
   font-family: "Arial" ,sans-serif;
   
  } 
  

  h1{
   font-size: 25px;
   text-align: center;
  }
  
  .choice{
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 700px;
    height: 500px;
	
    
  }
  .choice:hover{ 
	border:1px solid black;	
  }
  
  
  .imageAsChoice > input{ /* Hides radio buttons */
    visibility: hidden; /* make input not clickable */
	position: absolute; 
  }
  .imageAsChoice > input + img{ 
	cursor:pointer;
	border:2px solid transparent;
  }
	
  .imageAsChoice > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
	border:2px solid #f00;
  }
  
  .buttons{
	position:relative;
	margin-top:50%;
	
  }
  

  
 	
   #next,#back,#submit{
	width:5em;
	height:3em;
	font-weight: bold;
	}
	